<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Auth0 React</title><link rel="preconnect" href="https://fonts.gstatic.com"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet"><link href="https://cdn.jsdelivr.net/gh/atindersandhu1/auth-dist/mfa.15de7682.css" rel="stylesheet"><script src="https://cdn.auth0.com/js/guardian-js/1.3.0/guardian-js.js"></script><script>var guardianjs=null;</script><script>
      var guardianjs = auth0GuardianJS({
        serviceUrl: "{{ mfaServerUrl }}",
        {% if ticket %}
        ticket: "{{ ticket }}",
        {% else %}
        requestToken: "{{ requestToken }}",
        {% endif %}

        issuer: {
          label: "{{ userData.friendlyUserId }}",
          name: "{{ userData.tenant }}",
        },

        globalTrackingId: "{{ globalTrackingId }}",
        {% if stateCheckingMechanism %}
          stateCheckingMechanism: "{{ stateCheckingMechanism }}",
        {% endif %}
      });
    </script><script>try{window.auth0Config=JSON.parse(decodeURIComponent(escape(window.atob("@@config@@"))))}catch(o){window.auth0Config=o}</script></head><body class="app-background"> <div id="app"></div> <script type="module" src="https://cdn.jsdelivr.net/gh/atindersandhu1/auth-dist/mfa.bd57321c.js"></script> </body></html>